# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Databases
*.db
*.sqlite

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# HemoLink temp files
backend/data/*.db
